@charset "UTF-8";
table.table_list td {cursor: auto;}
#custmContainer {display: block; padding-top: 35px;}
.wrap_contents_support .support_title i {padding-right: 5px;}
.wrap_contents_support .current_status {padding: 20px; border: 1px solid #ddd; margin-top: 30px; text-align: center;}
.wrap_contents_support .current_status .ncoin_status {font-size: 14px; color: #F16126;}
.wrap_contents_support .current_status .ncoin_status .ncoin {padding-left: 15px;}
.wrap_contents_support .current_status .ncoin_status .ncoin:before {content: ''; display: inline-block; margin-right: 4px; vertical-align: -1px; width: 12px; height: 12px; line-height: 0; font-size: 0; background: url(https://cdn.jsdelivr.net/gh/cckiss/web/img/goods/ic-coin@2x.png) 0 0 no-repeat; background-size: 12px 12px;}
.wrap_contents_support .current_status .button_div {padding-top: 20px;}
.wrap_contents_support .current_status .button_div button {width: 300px; height: 60px; background: #457285; color: #fff; font-size: 16px; font-weight: 600;}
.wrap_contents_support .current_status .button_div button:hover {background: #345c6c;}
.wrap_contents_support .current_status .button_div button i {padding-right: 5px; font-size: 24px; vertical-align: sub;}

.pur_item_list {text-align: center;}
.pur_item_list button {padding: 5px 13px; background: #F16126; border-radius: 5px; color: #fff;}
.pur_item_list button:hover {background: #c54d1b;}
.pur_item_list button.list_close {position: absolute; right: 15px; top: 15px;}
.pur_item_list .pur_item_list_info {display: none; position: fixed; top: 25%; right: 29%; background: #fff; padding: 15px 0px 0px 0px; border: 1px solid #ddd; z-index: 1000;}
.pur_item_list .pur_item_list_info .scrollbar-macosx {max-height: 400px;}
.pur_item_list .pur_item_list_info.on {display : block;}
.pur_item_list .pur_item_list_info h2 {padding-bottom: 10px;}
.pur_item_list .pur_item_list_info .box1 {background-color: #f4f5f7;}
.pur_ltem_table td, .pur_ltem_table th {padding: 10px 14px; border: 1px solid #efefef; font-size: 14px; color: #494949; word-break: break-all; background-color: #fff;}

.to_mail_div {padding-top: 15px;}
.to_mail_div #to_mail {width: 300px; border: 1px solid #457285; padding: 10px;}
#send_delay {z-index:10000001; position: fixed; width: 100%; top: 40%;}
#send_delay .send_delay_container {text-align: center;background: #fff;padding: 30px; width: 400px; margin: auto;}
#send_delay .send_delay_container .send_delay_message {font-weight: 600; color: #444; padding-top: 10px;}

#purchase_container {border: 1px solid #ddd; padding: 15px; margin-bottom: 25px;}
#purchase_container .top {display: inline-block; width: 100%;}
#purchase_container .top_title {font-size: 15px; font-weight: 600; padding: 15px; color: #457285; float: left;}
#purchase_container .top #all_select {float: right; padding: 10px; width: 100px; background: #F16126; color: #fff; font-weight: 600; border-radius: 5px;}
#purchase_container .top #all_select:hover {background: #c54d1b;}
#purchase_container #purchase_list {max-height: 375px;}
#purchase_container #purchase_list .purchase_item {display: inline-block; width: 100%; padding: 10px; border: 1px solid #ddd; cursor: pointer;}
#purchase_container #purchase_list .purchase_item:hover {background: #e9ecef;}
#purchase_container #purchase_list .purchase_item.on {border-color: #F16126;}
#purchase_container #purchase_list .purchase_item .left_div {float: left;}
#purchase_container #purchase_list .purchase_item .right_div {float: right;}
#purchase_container #purchase_list .purchase_item .left_div img {width: 50px;}
#purchase_container #purchase_list .purchase_item .left_div .desc {font-size: 14px; font-weight: 600; line-height: 48px; padding-left: 16px; width: 200px; display: -webkit-inline-box;}
#purchase_container #purchase_list .purchase_item .left_div .price {font-size: 14px; color: #F16126;}
#purchase_container #purchase_list .purchase_item .left_div .price:before {content: ''; display: inline-block; margin-right: 4px; vertical-align: -1px; width: 12px; height: 12px; line-height: 0; font-size: 0; background: url(https://cdn.jsdelivr.net/gh/cckiss/web/img/goods/ic-coin@2x.png) 0 0 no-repeat; background-size: 12px 12px;}
#purchase_container #purchase_list .purchase_item input[type=checkbox] {float: right; position: relative; top: -2px; -webkit-appearance: none; width: 23px; height: 23px; margin: 0; border: 1px solid rgba(34,34,34,.2); border-radius: 50%;}
#purchase_container #purchase_list .purchase_item input[type=checkbox] {top: 15px; right: 12px;}
#purchase_container #purchase_list .purchase_item input[type=checkbox]:after {display: inline-block; content: ""; vertical-align: middle; position: absolute; left: 7px; top: 3px; width: 6px; height: 11px; border-color: rgba(0,0,0,.45); border-style: solid; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
#purchase_container #purchase_list .purchase_item.on input[type=checkbox]:after, #purchase_container #purchase_list .purchase_item input[type=checkbox]:checked {border-color: #F16126;}
#purchase_container #purchase_list .purchase_item input[type=checkbox]:checked {background-position: -23px 0;}
#purchase_container .bottom {display: inline-block; width: 100%; padding-top: 15px;}
#purchase_container .bottom #expected_ncoin {font-size: 14px; font-weight: 600; padding: 15px; float: left;}
#purchase_container .bottom #expected_ncoin em {font-size: 14px; color: #F16126; margin-left: 15px;}
#purchase_container .bottom #expected_ncoin em:before {content: ''; display: inline-block; margin-right: 4px; vertical-align: -1px; width: 12px; height: 12px; line-height: 0; font-size: 0; background: url(https://cdn.jsdelivr.net/gh/cckiss/web/img/goods/ic-coin@2x.png) 0 0 no-repeat; background-size: 12px 12px;}
#purchase_container .bottom #purchase_btn {float: right;}
#purchase_container .bottom #purchase_btn button {padding: 10px; background: #F16126; border-radius: 5px; color: #fff; width: 100px; font-size: 14px; font-weight: 600;}
#purchase_container .bottom #purchase_btn button:hover {background: #c54d1b;}

@media (max-width: 960px){
	.pur_item_list .pur_item_list_info {right: 6%;}
}