@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:wght@400,500,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:wght@400,500,700);

:root, :root.dark{
  --bg100: #151617;
  --bg300: #1e1f21;
  --glyphs100: #ffffff;
  --glyphs200: rgba(255, 255, 255, 0.94);
  --glyphs300: rgba(255, 255, 255, 0.36);
  --bright100: rgba(255, 255, 255, 0.04);
  --bright200: rgba(255, 255, 255, 0.08);
}
:root.light {
  --bg100: #D9DBE5;
  --bg300: #FFF;
  --glyphs100: #000;
  --glyphs200: rgba(23, 23, 45, 1);
  --glyphs300: rgba(45, 45, 73, 0.55);
  --bright100: rgba(47, 53, 84, 0.04);
  --bright200: rgba(47, 53, 84, 0.08);
}
*,
::before,
::after {
  box-sizing: border-box;
}
html,
div,
button {
  font-family: Noto Sans KR, Noto Sans, -apple-system, BlinkMacSystemFont,
    Roboto, Arial, Microsoft YaHei, Microsoft JhengHei, sans-serif;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  cursor: pointer;
}
body {
  height: 100vh;
  margin: 0;
  background: var(--bg300);
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#pubbie{
  width: 80px;
  height: 80px;
  margin: 0 auto 24px;
}

h1 {
  padding: 0;
  margin: 0 0 4px;
  color: var(--glyphs200);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

p {
  padding: 0;
  margin: 0 ;
  color: var(--glyphs300);
  font-size: 14px;
  line-height: 20px;
}

p+div{
  margin-top: 24px;
}

.button{
  min-width: 96px;
  height: 36px;
  padding: 0 14px;
  border: 1px solid #38393f;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--glyphs200);
}
.button:hover {
  background: var(--bright100);
  color: var(--glyphs100);
}
.button:active {
  background: var(--bright200);
  color: var(--glyphs100);
}

.button svg {
  fill: currentColor;
  vertical-align: middle;
}

