@charset "UTF-8";

#app .regist_wrap .container {padding-top: 60px; padding-bottom: 80px;}
#app .regist_wrap .container .support_agree_tit, #app .regist_wrap .regist_container .point_color {color: #ff6502;}
#app .regist_wrap .container ul {padding-top: 12px; font-size: 12px;}
#app .regist_wrap .container .support_content {margin-top: 20px; border: 1px solid #ddd; padding: 10px; text-align: center; background: #1f3263;}
#app .regist_wrap .container .support_content .support_l strong {font-size: 18px; color: #ff6502;}
#app .regist_wrap .container .support_content .support_r {padding-top: 5px;}
#app .regist_wrap .container .support_content .support_r .reward_content {display: block; color: #fff; padding-top: 5px;}
#app #agree_wrap .agree_check_div {padding-top: 20px; position: relative;}
#app #agree_wrap .agree_check_div input {position: absolute; top: 23px; cursor: pointer; appearance: auto;}
#app #agree_wrap .agree_check_div strong {padding-left: 22px; cursor: pointer;}
#app .agree_btns {z-index: 11; position: fixed; left: 20px; right: 20px; bottom: 0; text-align: center; background-color: hsla(0, 0%, 96.1%, .85);}
#app .agree_btns button, #app .btn_wrap button {margin: 0 0 14px; width: 100%; max-width: 580px; height: 52px; background-color: #1f3263; color: #fff; text-align: center; font-size: 16px; line-height: 50px;}
#app .agree_btns button:hover, #app .btn_wrap button:hover, #app .regist_wrap .regist_container .support_bank_req .support_bank_req_btn button:hover {background-color: #273c73;}
#app .regist_wrap .regist_container .sub_tit {font-size: 12px; margin-left: 5px;}
#app .regist_wrap .regist_container .support_bank_req {margin-top: 15px; padding: 15px; background: #fff; text-align: center;}
#app .regist_wrap .regist_container .support_bank_req .support_bank_req_desc {color: #ff6502;}
#app .regist_wrap .regist_container .support_bank_req .support_bank_req_btn button {background: #1f3263; color: #fff; padding: 11px 20px; margin-top: 14px; font-size: 16px;}
#app .regist_wrap .regist_container .support_bank_req .support_bank_req_btn button i {font-size: 26px; vertical-align: top; margin-right: 13px;}
#app .gm_send {padding-top: 20px; color: #ff6502;}
#app .charge-name .static .wrapper, #app .charge-value .static .wrapper {position: relative;}
#app .charge-name .static .wrapper button, #app .charge-value .static .wrapper button {position: absolute; right: 10px; top: 19px; display: none; font-size: 0; background: none; border: 0; width: 19px; height: 19px;}
#app .charge-value .static .wrapper .show-unit {position: absolute; top: 13px; font-size: 20px;}
#app .charge-name .static .wrapper button:before, #app .charge-value .static .wrapper button:before {content: ''; background-image: url(https://cdn.jsdelivr.net/gh/cckiss/web/img/charge/sprite.png); background-repeat: no-repeat; background-size: 230px 202px; background-position: -135px -180px; width: 17px; height: 17px; font-size: 0; display: block;}
#app .charge-name .static .wrapper input, #app .charge-value .static .wrapper input {text-indent: 44px; height: 54px; border-bottom: 1px solid #1f326338; font-size: 20px;}
#app .charge-name .static .wrapper input {background: url(https://cdn.jsdelivr.net/gh/cckiss/web/img/29001.png) no-repeat left center; background-size: 24px 24px; background-position: 15px 15px;}
#app .charge-value .static .wrapper input {background: url(https://cdn.jsdelivr.net/gh/cckiss/web/img/icon-won.png) no-repeat left center; background-size: 24px 24px; background-position: 15px 15px;}

@media (min-width: 480px) {
    #app .agree_btns {left: 40px; right: 40px;}
}